.expoLogoBackground {
  background-image: linear-gradient(180deg, var(--splash-gradient-start, #3c9ffe), var(--splash-gradient-end, #0274df));
  border-radius: 40px;
  width: 128px;
  height: 128px;
}
